@import "./shared/styles/border-colors.css";
@import "./shared/styles/spacings.css";
@import "./shared/styles/buttons.css";
@import "./shared/styles/hovers.css";
@import "./shared/styles/tachyons-forms.css";
@import "./shared/styles/tachyons-widths.css";
@import "./shared/styles/type-scale.css";
@import "./shared/styles/typography.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

@lost gutter 0px;

html, body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    height:100vh;
}
